USE [kobe]
GO
/****** Object:  Table [dbo].[nba_winprobs]    Script Date: 4/23/2022 5:25:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nba_winprobs](
	[team] [varchar](13) NOT NULL,
	[min0] [numeric](7, 5) NOT NULL,
	[min1] [numeric](7, 5) NOT NULL,
	[min2] [numeric](7, 5) NOT NULL,
	[min3] [numeric](7, 5) NOT NULL,
	[min4] [numeric](7, 5) NOT NULL,
	[min5] [numeric](7, 5) NOT NULL,
	[min6] [numeric](7, 5) NOT NULL,
	[min7] [numeric](7, 5) NOT NULL,
	[min8] [numeric](7, 5) NOT NULL,
	[min9] [numeric](7, 5) NOT NULL,
	[min10] [numeric](7, 5) NOT NULL,
	[min11] [numeric](7, 5) NOT NULL,
	[min12] [numeric](7, 5) NOT NULL,
	[min13] [numeric](7, 5) NOT NULL,
	[min14] [numeric](7, 5) NOT NULL,
	[min15] [numeric](7, 5) NOT NULL,
	[min16] [numeric](7, 5) NOT NULL,
	[min17] [numeric](7, 5) NOT NULL,
	[min18] [numeric](7, 5) NOT NULL,
	[min19] [numeric](7, 5) NOT NULL,
	[min20] [numeric](7, 5) NOT NULL,
	[min21] [numeric](7, 5) NOT NULL,
	[min22] [numeric](7, 5) NOT NULL,
	[min23] [numeric](7, 5) NOT NULL,
	[min24] [numeric](7, 5) NOT NULL,
	[min25] [numeric](7, 5) NOT NULL,
	[min26] [numeric](7, 5) NOT NULL,
	[min27] [numeric](7, 5) NOT NULL,
	[min28] [numeric](7, 5) NOT NULL,
	[min29] [numeric](7, 5) NOT NULL,
	[min30] [numeric](7, 5) NOT NULL,
	[min31] [numeric](7, 5) NOT NULL,
	[min32] [numeric](7, 5) NOT NULL,
	[min33] [numeric](7, 5) NOT NULL,
	[min34] [numeric](7, 5) NOT NULL,
	[min35] [numeric](7, 5) NOT NULL,
	[min36] [numeric](7, 5) NOT NULL,
	[min37] [numeric](7, 5) NOT NULL,
	[min38] [numeric](7, 5) NOT NULL,
	[min39] [numeric](7, 5) NOT NULL,
	[min40] [numeric](7, 5) NOT NULL,
	[min41] [numeric](7, 5) NOT NULL,
	[min42] [numeric](7, 5) NOT NULL,
	[min43] [numeric](7, 5) NOT NULL,
	[min44] [numeric](7, 5) NOT NULL,
	[min45] [numeric](7, 5) NOT NULL,
	[min46] [numeric](7, 5) NOT NULL,
	[min47] [numeric](7, 5) NOT NULL,
	[min48] [numeric](7, 5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[team] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
